<section class="signup-wrapper">

  <h2>Signup here:</h2>

  <form class="login-form" action="/auth/signup" method="POST" id="form-container">
    <div class="login-email"> <label for="email">Email:</label>
      <input id="email" type="text" name="email">
    </div>

    <div class="login-password">
      <label for="password">Password:</label>
      <input id="password" type="password" name="password">
    </div>

    {{#if errorMessage}}
    <div class="error-message">{{errorMessage}}</div>
    {{/if}}

    <button class="login-btn" type="sumbit">Create profile</button>

  </form>
  <p class="account-message">
    Already have a profile?
    <a href="login">Login here</a>
  </p>

</section>