<div class="banner">

  <h1><img class="index-header" src="/images/hero-image.jpg" alt="Art is Present hero image">Art is Present</h1>
  <br>
  <h2>Give beautiful gifts of art <br> and support local artists</h2>

</div>

</div>