<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Art is Present</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <header>

   <div class="topnav">

     <a class="logo" href="/"><img src="#" alt="Logo"></a>
     <form action="/search/results" method="post">
      <input type="text" name="query" placeholder="Search presents">
      <button type='submit'><img style="width:10%;" src="../public/images/logo present.jpg" alt="magnifying glass"></button>
     </form>

     <div>
       {{#if user}}
        <a href="/auth/logout">Log out</a>
        <a href="/artist/show">Your profile</a>
      {{else}}
        <a href="/auth/signup">Create an profile</a>
        <a href="/auth/login">Log in</a>
      {{/if}}
    </div>

  </div> 

  <nav class="div-categories">
    <a href="/categories/Painting">Painting</a>
    <a href="/categories/Drawing">Drawing</a>
    <a href="/categories/Photography">Photography</a>
    <a href="/categories/Performance">Performance</a>
    <a href="/categories/Music">Music</a>

  </nav>
</header>

  {{{body}}}

<footer>
  <h6>Made by HortenciaVesnaHannah</h6>
</footer>
  <script src="/javascripts/script.js"></script>
</body>
</html>