<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Art is Present</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
   <nav class="topnav">
  <a class="logo" href="/index"><img src="#" alt="Logo"></a>
  <input type="text" placeholder="Search presents">
  <a href="/login">Login</a>
</nav> 
<dheaderiv class="nav-categories">
  <a href="#">Painting</a>
  <a href="#">Illustration</a>
  <a href="#">Music</a>
  <a href="#">Performance</a>
</header>

  {{{body}}}

<footer>
  <h6>Made by HortenciaVesnaHannah</h6>
</footer>
  <script src="/javascripts/script.js"></script>
</body>
</html>