<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Art is Present</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <header>

   <div class="topnav">

     <a class="logo" href="/index"><img src="#" alt="Logo"></a>
     <input type="text" placeholder="Search presents">

     <div>
       {{#if user}}
        <a href="/auth/logout">Log out</a>
      {{else}}
        <a href="auth/signup">sign up</a>
      {{/if}}
    </div>

  </div> 

  <nav class="div-categories">
    <a href="/categories">Painting</a>
    <a href="/categories">Drawing</a>
    <a href="/categories">Photography</a>
    <a href="/categories">Performance</a>
    <a href="/categories">Music</a>

  </nav>
</header>

  {{{body}}}

<footer>
  <h6>Made by HortenciaVesnaHannah</h6>
</footer>
  <script src="/javascripts/script.js"></script>
</body>
</html>