<h2>Add new Product</h2>

<form action="/add/product" method="POST" enctype="multipart/form-data">

  <label for="name">Product title:</label>
  <input type="text" id="name" name="name" placeholder="Add the name of your product name/service here."
    {{#if name}}value={{name}}{{/if}}>

  <br><br>

  <label for="price">Price:</label>
  <input type="text" id="price" name="price" placeholder="Add the price of your product name/service here."
    {{#if price}}value={{price}}{{/if}}>

  <br><br>

  <label for="availability">Availability:</label>
  <select name="availability" id="availability">
    <option value="available">available</option>
    <option value="currently unavailable" selected>currently unavailable</option>
  </select>

  <br><br>

  <label for="category">Category:</label>
  <select name="category" id="availability">
    <option value="Painting">Painting</option>
    <option value="Drawing">Drawing</option>
    <option value="Photography">Photography</option>
    <option value="Performance">Performance</option>
    <option value="Music">Music</option>
  </select>

  <br><br>

  <label for="description">Description:</label>
  <textarea name="description" id="description" cols="30" rows="8"
    placeholder="Describe your product/service here">{{#if description}}{{description}}{{/if}}</textarea>

  <br><br>

  <label for="images">Add images:</label>
  {{!-- add input for this label. see lesson on upload images --}}
  <input type="file" multiple='multiple' name="images" id="images" />


  <br><br>

  {{#if errorMessage}}
  <p>{{errorMessage}}</p>
  {{/if}}

  <br><br>
  <button type="submit">Add product</button>
</form>